* {
  @include box-sizing(border-box);
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mersad';
  src: url('$lib/fonts/Mersad-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



body {
  line-height: 1.3;
  font-family: var(--font-body);
  font-weight: 400;
  overflow-x: hidden !important;
}

img, svg {
  width: 100%;
  height: auto;
}

p:not(:last-child), ul {
  margin-bottom: 28px;
}

p, ul li, ol li, a {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  &.bigger {
    font-size: 18px;
    font-weight: 500;
  }
}

label {
  font-weight: 500;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 500;
}

h2 {
    font-size: 45px;
    line-height: 1.2;
    font-weight: 500;
}

h3 {
  font-size: 34px;
  line-height: 1.3;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 500;
}

h5 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 500;
}

h6 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
}

@include breakpoint(1280) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 19px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }
}

@include breakpoint(480) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}
.container {
  padding: 0 176px;
  @include breakpoint(1535) {
    padding: 0 32px;
  }
}

.simple-link {
  font-weight: 600;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    transform-origin: 0 50%;
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s;
  }
  &:hover {
    &:before {
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
    }
  }
}

.lines {
  top: 0;
  left: 0;
  span {
    height: 100%;
    width: 1px;
    background: rgba(11, 57, 84, 0.1);
  }
}

@media screen and (max-width: 920px) {
  br {
    display: none;
  }
}

.sticky-container {

  .sticky {
    position: sticky;
    top: 50%;
  }
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  &.dark {
    &:before {
      background: currentColor;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  &:hover {
    &:before {
      transform-origin: 0 50%;
      transform: scale3d(1, 1, 1);
    }
  }
}

@keyframes MoveUpInitial {
  to {
    transform: translate3d(0, -105%, 0);
  }
}

@keyframes MoveUpEnd {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.button--hyperion {
  font-weight: 400;
  padding: 12px 24px;
  border: 1px solid var(--darkblue-color);
  color: var(--darkblue-color);
  position: relative;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  span {
    display: block;
    position: relative;
    color: var(--white-color);
  }

  > span {
    overflow: hidden;

    > span {
      overflow: hidden;
    }
  }

  &:hover {

    > span {

      > span {
        animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
        color: var(--darkblue-color);
      }
    }

    &::before {
      transform: scale3d(0, 1, 1);
      transform-origin: 0% 50%;
      color: var(--darkblue-color);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--darkblue-color);
    color: var(--darkblue-color);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    transform-origin: 100% 50%;
  }
}